$ff: 'Roboto', sans-serif;
$fs-title: 72px;
$fs-title2: 48px;
$fs-title3: 24px;
$fs-subtitle: 24px;
$fs-p: 16px;
$fs-logo: 20px;
$color-mint: #50E3C2;
$color-textShadow1: rgba(0,0,0,0.30);
$color-textShadow2: rgba(0,0,0,0.10);